<!DOCTYPE html>
<html>
<head>
    <title>Web Graphics</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="index.js"></script>
</head>
<body>
    <div class="tophome">
        <h1 class="title">Web Graphics Tutorial</h1>
        <p class="subtitle">Pick a topic</p>
        <div class="nav">
            <a href="index.html">Home</a>
            <a href="svg.html">SVG</a>
            <a href="clippath.html">Clip-Path</a>
            <a href="arrays.html">Arrays</a>
        </div>
    </div>

    <%= yield %>
</body>
</html>